html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #d2d2e1;
  --gradient-color-2: #dde1e8;
  --gradient-color-3: #e6ecf1;
  --gradient-color-4: #505f79;
}
